<!-- 
<h1>New Order</h1>
-->

<div class="depot_form">
    <fieldset>
        <legend>请输入您的详细信息</legend>
        <%= render 'form', order: @order %>
    </fieldset>
</div>

<!--
<%= link_to 'Back', orders_path %>
-->