<h2>购物车</h2>
<table>
  <%= render(cart.line_items) %>

  <tr class="total_line">
    <td colspan="2">总计</td>
    <td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
  </tr>

</table>

<%= button_to '结算订单', new_order_path, method: :get %>
<%= button_to '清空商品', cart, method: :delete,
    data: { confirm: '确定清空商品吗?' } %>
